body,html{
	margin: 0;
	padding: 0;
}
.content{
	font-size: 18px;
	width: 650px;
	margin : 0 auto;
	margin-top: 40px;
	margin-bottom: 40px;
	line-height: 1.6;
	color:#444;
	padding:0 10px;
}
h1, h2, h3{
	line-height: 1.6;
}



#back-black{
	position: fixed;
	background-color: black;
	opacity: 0.96;
	width: 100%;
	height: 100%;
	top:0;
	z-index: 1;
	display: none;
}

.pop-up{
	background-color: #fff;
	width: 700px;
	margin:20px auto;
	border-radius: 5px 5px 5px 5px;
	text-align: center;
	overflow: hidden;
	padding: 10px;
}


.message>p{
	font-size: 30px;
	font-weight: bold;
}
.choix{
	margin:0 auto;
	width: 45%;
	overflow: hidden;
	padding: 6px;
}
#choix-oui{
	float: left;
	padding: 7px;
	background-color: green;
	border-radius: 4px 4px 4px 4px;
	margin-right: 10px
}

#choix-oui>a,#non{
	text-decoration: none;
	color: white;
	text-shadow: 1px 1px 2px #000;
	font-size: 50px;
}

#non{
	margin:0!important;
}

#non:hover{
	cursor: pointer;
}
#choix-non{
	float: left;
	padding: 7px;
	background-color: red;
	border-radius: 4px 4px 4px 4px;
}

.bouton-changer{
	overflow: hidden;
	max-width: 800px;
	margin:20px auto;
	padding-bottom: 10px;
	padding-top: 10px;
}

.left{
	float:left;
	margin-right: 10px;
	padding: 20px;
	color: white;
	text-shadow: 1px 1px 2px #000;
}

#ground-magenta{
	background-color: magenta;
	border-radius: 4px 4px 4px 4px;
}

#ground-magenta:hover{
	box-shadow: 4px 7px 4px grey;
	cursor: pointer;
}	

#police-bleu{
	background-color: blue;
	border-radius: 4px 4px 4px 4px;
}

#police-bleu:hover{
	box-shadow: 4px 7px 4px grey;
	cursor: pointer;
}
#police-header-green{
	background-color: green;
	border-radius: 4px 4px 4px 4px;
}
#police-header-green:hover{
	box-shadow: 4px 7px 4px grey;
	cursor: pointer;
}
#changement-police{
	background-color: red;
	border-radius: 4px 4px 4px 4px;
}
#changement-police:hover{
	box-shadow: 4px 7px 4px grey;
	cursor: pointer;
}